<div class="card-header bg-light"><h5>Comments</h5></div>
<% @article.comments.each do |comment| %>
  <div class="card-body">
    <section class="card-text">
      <p><%=comment.body%></p>
      <br>
      <p6> Published <b><%= "#{User.find(comment.user_id).username}" %></b>, in <%= "#{comment.created_at.strftime("%Y-%m-%d %H:%M")}" %></p6>
      <hr>
    </section>
  </div>
<% end %>
  