<%= turbo_frame_tag @article.comments.new do%>
<div class="btn btn-outline-secondary btn-sm">
  <%= link_to 'Add comment', new_article_comment_path(@article), :class => "btn", :style => "--bs-btn-padding-y: .1rem; --bs-btn-padding-x: .15rem; --bs-btn-font-size: .65rem;"%>
</div>
<% end %>