<% if object %>
  <% if object.errors.any? %>
    <div class="alert alert-danger">
      <ul class="mb-0">
      <p><b>The following errors prevented the article from being saved:</b></p>
        <% object.errors.full_messages.each do |msg| %>
         <li><p5><%= msg %></p5></li> 
        <% end %>
      </ul>
    </div>
  <% end %>
<% end %>