<p><%=@comment.body%></p>
<p6> Published <b><%= "#{User.find(@comment.user_id).username}" %></b>, in <%= "#{@comment.created_at.strftime("%Y-%m-%d %H:%M")}" %></p6>
<hr>
<%= render 'shared/add_comment' %>